<% title 'Changing your password' %>

<% content_for :head do %>
  <%= stylesheet_link_tag 'forms' %>
<% end %>

<% content_for :subcol do %>
    <h2>Help</h2>
    <p>Please provide a <em>password</em> longer than four digits.</p>
    <p>Usage of non-alphanumeric characters is strongly advised.</p>
    <p>Example: If your password is braga please consider something like <strong>4rE~Br4g4!&</strong></p>
    <p>If you can't fix an error please inform our <%= link_to 'tech support', '#' %> to get help.</p>
    <%= render :partial => 'shared/user_navigation'%>
<% end %>

<% # START: content %>
  <h2>Change your password</h2>
  <%= error_messages_for :user %>

  <% form_for :user, @user, :url => change_password_user_path, :html => {:method => :put} do |f| -%>
  <div id="old_password" class="field">
    <label class="old_password" for="old_password">&nbsp;Old Password</label><br/>
    <%= f.password_field :old_password,  {:size => 48} %>
  </div>

  <%= render :partial => 'password_fields', :locals => { :f => f } %>

  <div>
    <%= f.submit "Change password" %> 
  </div>
  </div>
<% end %>
<% # END: content %>