<% title 'Update your profile' %>

<% content_for :head do %>
  <%= stylesheet_link_tag 'forms' %>
<% end %>

<% content_for :subcol do %>
        <h2>My Profile</h2>
        <%= render :partial => 'shared/user_profile', :locals => { :user => current_user } %>
        <%= render :partial => 'shared/user_navigation'%>
<% end %>

<% # START: content %>
  <h2>Changing profile...</h2>
  <%= error_messages_for :user %>

  <% form_for(@user) do |f| -%>
  <%= render :partial => 'user_fields', :locals => { :f => f } %>
  <div id="update_your_profile">
    <%= f.submit 'Update profile' %> 
  </div>
<% end %>
<% # END: content %>