<% title 'Create your own profile' %>

<% content_for :head do %>
  <%= javascript_include_tag 'prototype' %>
  <%= javascript_include_tag 'dynamic_organizations' %>
  <%= stylesheet_link_tag 'forms' %>
<% end %>

<% content_for :subcol do %>
    <h2>Help</h2>
    <p>Your <em>User ID</em> be a valid email address as a confirmation email
       will be sent to this address.</p>
    <p>Your <em>Password</em> must have at least four characters.</p>
    <p>Any field marked with a red asterisk (<font color="red">*</font>) 
       must be completed.</p>
    <p>For any problem completing this form, please 
    <%= link_to 'contact us', '#' %>.</p>
<% end %>

<% # START: content %>
  <h2>Create a new profile</h2>
  <%= error_messages_for :user %>

  <% form_for :user, :url => users_path do |f| -%>
  <%= render :partial => 'user_name', :locals => { :f => f } %>
  <%= render :partial => 'user_email', :locals => { :f => f } %>
  <%= render :partial => 'user_fields', :locals => { :f => f } %>

  <p >
    <label  for="user_type_id">&nbsp;You are</label><br/>
    <%= f.collection_select :type_id, Type.find(:all), :id, :name,
    :prompt => "Select a type"  %><font color="red">*</font>
  </p>

  <p id="organization_field" >
    <label class="organization" for="user_organization_id">&nbsp;Organization</label><br/>
    <%= f.collection_select :organization_id, Organization.find(:all), :id, 
        :name, :prompt => "Select a organization" %>
    <font color="red">*</font>
  </p>
  
  <%= render :partial => 'password_fields', :locals => { :f => f } %>
  <div id="sign_up">
    <%= submit_tag "Sign up" %> 
  </div>
<% end %>
<% # END: content %>
