<% title 'Recover your password' %>

<% content_for :head do %>
  <%= stylesheet_link_tag 'forms' %>
<% end %>

<% content_for :subcol do %>
    <h2>Help</h2>
    <p>Don't worry just give us your <em>email</em> or <em>username</em> and we will email information on how to reset
        your password.</p>
    <p>If this is not enough please inform our <%= link_to 'tech support', '#' %> to get help.</p>
<% end %>

<% # START: content %>
  <h2>Please provide at least on of these</h2>
  <% form_for :user, @user, :url => recover_password_users_path, :html => {:method => :put} do |f| -%>
  <div id="email" class="field">
    <label class="email" for="email">&nbsp;Email</label><br/>
    <%= f.text_field :email,  {:size => 48} %>
  </div>

  <div id="login" class="field">
    <label class="login" for="login">&nbsp;Username</label><br/>
    <%= f.text_field :login,  {:size => 48} %>
  </div>

  <div id="recover_password_submit">
    <%= f.submit 'Mail me instructions to reset my password' %> 
  </div>

  <% end %>
<% # END: content %>