<% title 'Reset your password' %>

<% content_for :head do %>
  <%= stylesheet_link_tag 'forms' %>
<% end %>

<% content_for :subcol do %>
  <h2>My Profile is back! :)</h2>
  <%= render :partial => 'shared/user_profile', :locals => { :user => current_user } %>
  <% if logged_in? %>
    <%= render :partial => 'shared/user_navigation'%>
  <% end %>
<% end %>

<% # START: content %>
  <h2>Change your password</h2>
  <%= error_messages_for :user %>

  <% form_for :user, @user, :url => reset_password_path, :html => {:method => :put} do |f| -%>

  <%= render :partial => 'password_fields', :locals => { :f => f } %>

  <div>
    <%= f.submit "Change password" %> 
  </div>
  </div>
<% end %>
<% # END: content %>