<% @result.passed ? (title 'Congratulations! You passed!') : (title 'Failed! You will have to try again :(') %>

<% content_for :head do %>
  <%= stylesheet_link_tag 'result' %>
<% end %>

<% content_for :subcol do %>
    <h2>Your result</h2>
    <dl>
      <dd>
        Score
      </dd>
      <dt>
        <%= @result.score %> / <%= 100 %>
      </dt>
    </dl>
    <%= render :partial => 'shared/user_navigation'%>
<% end %>

<% # START: content %>
    <h2>Where did I fail?</h2>
    <% @questions.each_with_index do |question,i| %>
    <% correct_choice = @correct_choices[i] %>
    <% answer_user = @answers.select { |a| a.question_id == question.id }.first %>
      <p>
        <strong>
          <%= h question.question_text %>
        </strong>
      </p>
      <div id="questionreport">
        <ul>

          <li<%= mark_choice answer_user, 'choiceA', correct_choice %>>
            <%= h question.choice_a %>
          </li>
          <li <%= mark_choice answer_user, 'choiceB', correct_choice %>>
            <%= h question.choice_b %>
          </li>
          <li <%= mark_choice answer_user, 'choiceC', correct_choice %>>
            <%= h question.choice_c %>
          </li>
          <li <%= mark_choice answer_user, 'choiceD', correct_choice %>>
            <%= h question.choice_d %>
          </li>
          <li <%= mark_choice answer_user, 'choiceE', correct_choice %>>
            <%= h question.choice_e %>
          </li>
        </ul>
      </div>

    <% end %>
<% # END: content %>
