<% @result.passed ? (title 'Congratulations! You passed!') : (title 'Failed! You will have to try again :(') %>

<% content_for :head do %>
  <%= stylesheet_link_tag 'result' %>
<% end %>

<% content_for :subcol do %>
    <h2>Your result</h2>
    <dl>
      <dd>
        Score
      </dd>
      <dt>
        <%= @result.score %> / <%= 100 %>
      </dt>
    </dl>
    <%= render :partial => 'shared/user_navigation'%>
<% end %>

<% # START: content %>
    <h2>Where did I fail?</h2>
    <% @questions.each do |question| %>
    <% answer_user = @answers.select { |a| a.question_id == question.id }.first %>
      <p>
        <strong>
          <%= h(question.document.split[0..10].join(' ')) + '...' %>
        </strong>
      </p>
      <div id="question-report">
        <ul>
          <li style="background: url(../images/tick.png) 5px left no-repeat">
            choiceA
          </li>
          <li <%= mark_choice answer_user, 'choiceB' %>>
            choiceB 
          </li>
          <li <%= mark_choice answer_user, 'choiceC' %>>
            choiceC
          </li>
          <li <%= mark_choice answer_user, 'choiceD' %>>
            choiceD
          </li>
          <li <%= mark_choice answer_user, 'choiceE' %>>
            choiceE
          </li>
        </ul>
      </div>

    <% end %>
<% # END: content %>