<% @result.passed ? (title 'Congratulations! You passed!') : (title 'Failed! You will have to try again :(') %>

<% content_for :head do %>
  <%= stylesheet_link_tag 'result' %>
<% end %>

<% content_for :subcol do %>
    <h2>Your result</h2>
    <dl>
      <dd>
        Score
      </dd>
      <dt>
        <%= @result.score %> / <%= 100 %>
      </dt>
    </dl>
    <%= render :partial => 'shared/user_navigation'%>
<% end %>

<% # START: content %>
    <h2>Where did I fail?</h2>
    <% @questions.each do |question| %>
    <% answer_user = @answers.select { |a| a.question_id == question.id }.first %>
      <p>
        <strong>
          <%= h(question.document.split[0..10].join(' ')) + '...' %>
        </strong>
      </p>
      <div id="question-report">
        <ul>
          <li style="background: url(../images/bullet_green.png) 5px left no-repeat">
            choiceA <%= image_tag 'flag_blue.png' if !answer_user.nil? && answer_user.option == 'choiceA' %>
          </li>
          <li>
            choiceB <%= image_tag 'flag_blue.png' if !answer_user.nil? && answer_user.option == 'choiceB' %>
          </li>
          <li>
            choiceC <%= image_tag 'flag_blue.png' if !answer_user.nil? && answer_user.option == 'choiceC' %>
          </li>
          <li>
            choiceD <%= image_tag 'flag_blue.png' if !answer_user.nil? && answer_user.option == 'choiceD' %>
          </li>
          <li>
            choiceE <%= image_tag 'flag_blue.png' if !answer_user.nil? && answer_user.option == 'choiceE' %>
          </li>
        </ul>
      </div>

    <% end %>
<% # END: content %>