<% title 'Question ' + @exam_session.current_question.to_s %>

<% content_for :head do %>
  <%= stylesheet_link_tag 'forms' %>
<% end %>

<% content_for :subcol do %>
    <h2>Information</h2>
    <dl>
      <dd>
        Author
      </dd>
      <dt>
        xpath(author/user_ID)
      </dt>
      <dd>
        Topic
      </dd>
      <dt>
        xpath(question/@topic)
      </dt>
      <dd>
        Difficulty
      </dd>
      <dt>
        xpath(question/@difficulty)
      </dt>
    </dl>
    <%= render :partial => 'shared/user_navigation'%>
<% end %>

<!-- START : CONTENT -->
    <h2>Which of the following is NOT an installation type? (//question_text [<%= @question.id %>])</h2>

      <% form_tag current_question_path do %>

      <% @choices.each_pair do |k,v| %>
      <div class="field">
        <%= radio_button_tag "answer", k, false %>
        <%= v %>
      </div>
      <% end %>

      <div id="submit_answer">
        <%= submit_tag "Submit" %> 
      </div>
      </div>
    <% end %>
<!-- <dd>
  Question Countdown
</dd>
<dt>
  1m59s
</dt>
<dd>
  Exam Countdown
</dd>
<dt>
  59h59s
</dt> -->
<!-- END : CONTENT -->