<% title 'Question ' + @exam_session.current_question.to_s %>

<% content_for :head do %>
  <%= stylesheet_link_tag 'forms' %>
<% end %>

<% content_for :subcol do %>
    <h2>Information</h2>
    <dl>
      <dd>
        Author
      </dd>
      <dt>
        <%= @question.author %>
      </dt>
      <dd>
        Topic
      </dd>
      <dt>
        <%= @question.topic %>
      </dt>
      <dd>
        Difficulty
      </dd>
      <dt>
        <%= @question.difficulty %>
      </dt>
    </dl>
    <%= render :partial => 'shared/user_navigation'%>
<% end %>

<!-- START : CONTENT -->
    <h2>
      <%= @question.question_text %>
    </h2>

      <% form_tag current_question_path do %>

      <% @choices.each_pair do |k,v| %>
      <div class="field">
        <%= radio_button_tag "answer", k, false %>
        <%= v %>
      </div>
      <% end %>

      <div id="submit_answer">
        <%= submit_tag "Submit" %> 
      </div>
      </div>
    <% end %>
<!-- END : CONTENT -->
