<% title 'Showing exam' %>

<% content_for :head do %>
  <%= stylesheet_link_tag 'forms' %>
  <%= stylesheet_link_tag 'admin' %>
<% end %>

<% content_for :subcol do %>
    <h2>Configuration</h2>
    <dl>
      <dd>Total Time</dd>
      <dt><%= value_or_unset @exam.total_time %></dt>
      <dd>Time per Question</dd>
      <dt><%= value_or_unset @exam.per_question  %></dt>
      <dd>Total Questions</dd>
      <dt><%= value_or_unset @exam.nr_questions %></dt>
    </dl>
     <%= render :partial => 'shared/user_navigation'%>
<% end %>

<% # START: content %>

  <h2>Questions</h2>
  
  <div id="admin">
  <% @questions.each_pair do |key,value| %>
    <h5 class="topic">
      <%= pluralize_question_by_topic(key,value) %>
    </h5>
    <% for question in value %>
    <p>
      <%= link_to question.question_text, question_path(question) %>
    <p>
    <% end %>
  <% end %>
  </div>
<% # END: content %>
