<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>The DB2 on Campus Portal - <%= (title = yield :title) || 'Welcome!' %></title>
  <%= stylesheet_link_tag 'screen' %>
  <%= yield :head %>
</head>

<body id="home">
  <div id="wrapper">
    <div id="header">
      <%= "<h1>#{title}</h1>" if title %>
    </div>
    <div id="nav">
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Users', users_path %></li>
        <%= "<li>#{link_to 'Exams', exams_path}</li>" if authorized? %>
      </ul>
      <%=  image_tag 'help.png' if yield :help %>
    </div>
    <% flash.each do |k,v| %>
     <%= content_tag :div, v, :id => k %>
    <% end %>
    <div id="content">
     <%= yield :help %>
      <div id="subcol">
        <%= yield :subcol %>
      </div>
     
      <div id="maincol">
        <%= yield %>
      </div>
    </div>

    <div id="footer">
      <p>
        &nbsp;
      </p>
    </div>
  </div>
</body>
</html>
